{% extends 'base.html' %}
{% block title %} Создание девайса {% endblock %} 

{% block content %}

<div class="mt-5 text-center ">
    <a href="{% url 'refbook:device_list'%}">
        <button type="button" class="btn btn-primary col-lg-6 col-sm-10">
            На главную
        </button>
    </a>
</div>

<div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <form method="POST" novalidate>
            {% csrf_token %} {% for field in form %}

            <div class="form-group">
                {{ field.label_tag }} {{ field }} {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary saveButton">
                Сохранить
            </button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("input").addClass("form-control");
        $("select").addClass("form-control");
        $("form").submit(function (e) {
            $(".form-error").remove();
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '{% url "refbook:create_device" %}',
                data: $("form").serialize(),
                cache: true,
                success: function (data) {
                    if (data["status"] === "ok") {
                        alert("Девайс сохранён");
                    }
                    window.location.href = "{% url 'refbook:device_list' %}";
                },
                error: function (error) {
                    const data = error.responseJSON;
                    if (data["status"] === "error") {
                        Object.keys(data.errors).forEach(key => {
                            $(
                                `<p class="form-error form-text" style="color:#ff0000"><b>${data.errors[key]}</b></p>`
                            ).insertAfter(`#id_${key}`);
                        });
                        alert("Проверьте данные");
                    }
                }
            });
        });
    });
</script>
{% endblock %}