{% extends 'base.html' %}
{% block title %} Список девайсов {% endblock %}

{% block content %}
<div class="mt-5">
    <a href="{% url 'refbook:create_device'%}">
        <button type="button" class="btn btn-primary btn-block">
            Создать девайс
        </button>
    </a>
</div>

<div class="row mt-5 d-flex justify-content-around">
    {% for device in devices %}
    <div class="card mb-4" style="width: 30rem;">
        <div class="card-header">
            {{device.get_device_type_display}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Адрес размещения: {{device.address}}
            </li>
            <li class="list-group-item">
                Широта: {{device.latitude}}
            </li>
            <li class="list-group-item">
                Долгота: {{device.longitude}}
            </li>
            <li class="list-group-item">
                Радиус зоны звукопокрытия: {{device.sound_cover_zone}}
            </li>
        </ul>
    </div>
    {% endfor %}
</div>

{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#"><span>&laquo;</span></a>
        </li>
        {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i%}
        <li class="page-item active">
            <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>

        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#"><span>&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}